In [2]:
import mysql.connector
import pymysql
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

mydb = mysql.connector.connect(
  host="localhost",
  user="admin",
  password="12345678",
  database="schema_test"
)
mycursor = mydb.cursor()

In [3]:
data_frame = pd.read_csv('Final_Data.csv', low_memory=False)
data_frame.head()

,title_english,title_persian,book_bio,off_percent,current_price,rate,status,publisher_name,publisher_id,writer_name,...,descriptions,book_tags,ids_tags,english_dialogs,persian_dialogs,authors,pleasure_text,copies,type_copies,language
0,Супруги Орловы,کتاب فروافتادگان,NaN,20.0,67600.0,3.71,1,ارس,2787,['ماکسیم گورکی'],...,NaN,"['ادبیات داستانی', 'ادبیات کلاسیک', 'ادبیات رو...","[103, 134, 152, 207, 356]",[None],[None],[None],[None],NaN,NaN,NaN
1,Darbast Monirie,کتاب دربست منیریه,NaN,20.0,100000.0,3.43,1,دید,4450,['سالومه طهرانی'],...,NaN,"['ادبیات داستانی', 'ادبیات معاصر', 'جدید ترین ...","[103, 105, 207, 265, 356, 437]",[None],[None],[None],[None],NaN,NaN,NaN
2,Scarecrow,کتاب مترسک,NaN,NaN,69000.0,3.82,0,گیوا,2238,['فرزاد عزیزی کدخدایی'],...,جزء به جزء مترسک پیر، از کلاهش گرفته تا کت و ش...,"['ادبیات داستانی', 'داستان کوتاه', 'ادبیات ایر...","[103, 356, 437]",[None],[None],[None],[None],NaN,NaN,NaN
3,Please Join Us,کتاب لطفا به ما بپیوندید,NaN,NaN,280000.0,3.09,0,راه طلایی,2706,['کاترین مک کنزی'],...,لطفا به ما بپیوندید رمانی معمایی و هیجان انگیز...,"['ادبیات کانادا', 'داستان ماجرایی', 'داستان مع...","[19, 21, 24, 103, 105, 182, 801]",[None],[None],[None],[None],NaN,NaN,NaN
4,Shahnamek,کتاب شاهنامک,ویژه کودکان و نوجوانان,20.0,200000.0,3.98,1,پازینه,1534,['یاسر موحدفرد'],...,دخترهای گلم و پسرهای نازنینم شاهنامک میخواد خی...,"['ادبیات اقتباسی', 'ادبیات داستانی', 'ادبیات م...","[20, 103, 105, 114, 207, 265, 437, 539]",[None],[None],[None],[None],NaN,NaN,NaN

In [4]:
from ast import literal_eval

df_test = data_frame

In [5]:
def f(x):
    try:
        return literal_eval(str(x))   
    except Exception as e:
        print(e)
        return []

In [6]:
df_test['book_tags'] = df_test['book_tags'].apply(lambda x: f(x))
df_test['ids_tags'] = df_test['ids_tags'].apply(lambda x: f(x))
df_test = df_test.explode(['book_tags', 'ids_tags'])
df_test = df_test[['book_tags', 'ids_tags']]

In [7]:
df_test = df_test[['book_tags', 'ids_tags']]
df_test = df_test.drop_duplicates('book_tags')
df_test.describe()

             book_tags  ids_tags
count              947       947
unique             947       947
top     ادبیات داستانی       103
freq                 1         1

In [8]:
df_test.to_csv('Tags.csv', index=False)

In [9]:
df_test = data_frame
# df_test['ids_tags'] = df_test['ids_tags'].apply(literal_eval)
df_test = df_test.explode('ids_tags')
df_test = df_test[['ids_book', 'ids_tags']]
df_test = df_test.drop_duplicates()
df_test.head()

   ids_book ids_tags
0    121850      103
0    121850      134
0    121850      152
0    121850      207
0    121850      356

In [10]:
df_test.to_csv('Book_Tag.csv', index=False)

In [11]:
df_test = data_frame

In [12]:
df_test['ids_translations'] = df_test['ids_translations'].apply(literal_eval)
df_test['translations'] = df_test['translations'].apply(literal_eval)
df_test = df_test.explode(['ids_translations', 'translations'])
df_test = df_test[['ids_translations', 'translations']]
df_test = df_test.drop_duplicates()
df_test.describe()

       ids_translations translations
count              5307         7288
unique             5306         7274
top                9787  مریم سلطانی
freq                  2            2

In [13]:
df_test.to_csv('Translation.csv', index=False)

In [14]:
df_test = data_frame

In [15]:
df_test['writer_name'] = df_test['writer_name'].apply(lambda x: f(x))
df_test['writer_id'] = df_test['writer_id'].apply(lambda x: f(x))
df_test = df_test.explode(['writer_id', 'writer_name'])
df_test = df_test[['writer_id', 'writer_name']]
df_test = df_test.drop_duplicates()
df_test.describe()

       writer_id writer_name
count      16447       17159
unique     16447       17104
top         3766  حسین مرادی
freq           1           3

In [16]:
df_test.to_csv('Writer.csv', index=False)

In [17]:
df_test = data_frame

In [18]:
df_test['writer_id'] = df_test['writer_id'].apply(lambda x: f(x))
df_test = df_test.explode('writer_id')
df_test.head()
# df_test = df_test[['ids_book', 'writer_id']]
# df_test.describe()

,title_english,title_persian,book_bio,off_percent,current_price,rate,status,publisher_name,publisher_id,writer_name,...,descriptions,book_tags,ids_tags,english_dialogs,persian_dialogs,authors,pleasure_text,copies,type_copies,language
0,Супруги Орловы,کتاب فروافتادگان,NaN,20.0,67600.0,3.71,1,ارس,2787,[ماکسیم گورکی],...,NaN,"[ادبیات داستانی, ادبیات کلاسیک, ادبیات روسیه, ...","[103, 134, 152, 207, 356]",[None],[None],[None],[None],NaN,NaN,NaN
1,Darbast Monirie,کتاب دربست منیریه,NaN,20.0,100000.0,3.43,1,دید,4450,[سالومه طهرانی],...,NaN,"[ادبیات داستانی, ادبیات معاصر, جدید ترین کتاب ...","[103, 105, 207, 265, 356, 437]",[None],[None],[None],[None],NaN,NaN,NaN
2,Scarecrow,کتاب مترسک,NaN,NaN,69000.0,3.82,0,گیوا,2238,[فرزاد عزیزی کدخدایی],...,جزء به جزء مترسک پیر، از کلاهش گرفته تا کت و ش...,"[ادبیات داستانی, داستان کوتاه, ادبیات ایران]","[103, 356, 437]",[None],[None],[None],[None],NaN,NaN,NaN
3,Please Join Us,کتاب لطفا به ما بپیوندید,NaN,NaN,280000.0,3.09,0,راه طلایی,2706,[کاترین مک کنزی],...,لطفا به ما بپیوندید رمانی معمایی و هیجان انگیز...,"[ادبیات کانادا, داستان ماجرایی, داستان معمایی,...","[19, 21, 24, 103, 105, 182, 801]",[None],[None],[None],[None],NaN,NaN,NaN
4,Shahnamek,کتاب شاهنامک,ویژه کودکان و نوجوانان,20.0,200000.0,3.98,1,پازینه,1534,[یاسر موحدفرد],...,دخترهای گلم و پسرهای نازنینم شاهنامک میخواد خی...,"[ادبیات اقتباسی, ادبیات داستانی, ادبیات معاصر,...","[20, 103, 105, 114, 207, 265, 437, 539]",[None],[None],[None],[None],NaN,NaN,NaN

In [19]:
df_test = df_test[['ids_book', 'writer_id']]
df_test

       ids_book writer_id
0        121850      3766
1        121855     70649
2        121857     70650
3        121885     17650
4        121887     28925
...         ...       ...
49766     72916     40252
49767     72919     40256
49768     72923     40262
49769     72877     18991
49770     72878     40219

[51367 rows x 2 columns]

In [20]:
df_test = df_test.drop_duplicates()
df_test.head()

   ids_book writer_id
0    121850      3766
1    121855     70649
2    121857     70650
3    121885     17650
4    121887     28925

In [21]:
df_test.to_csv('Book_Writer.csv', index=False)

In [22]:
df_test = data_frame

In [23]:
df_test = df_test[['language','ids_book']]
df_test.head()

  language  ids_book
0      NaN    121850
1      NaN    121855
2      NaN    121857
3      NaN    121885
4      NaN    121887

In [24]:
df_test.to_csv('Book_languages.csv')

In [25]:
df_test = data_frame

In [ ]:
df_test['authors'] = df_test['authors'].apply(lambda x: f(x))
df_test = df_test.explode('authors')
df_test = df_test['authors']
df_test = df_test.drop_duplicates()
df_test.describe()

In [27]:
df_test.to_csv('Author.csv', index =False)

In [28]:
df_test = data_frame

In [ ]:
df_test = df_test[['publisher_id', 'publisher_name', 'ids_book']]
df_test.head()

In [30]:
df_test.to_csv('Publiser.csv', index=False)

In [31]:
df_test = data_frame

In [ ]:
mycursor.execute("CREATE TABLE Tag (ids_tags BIGINT PRIMARY KEY, book_tags NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE Book_Tag (book_tag_id BIGINT AUTO_INCREMENT PRIMARY KEY, ids_tags BIGINT, ids_book BIGINT)")

In [ ]:
mycursor.execute("CREATE TABLE Publisher (publisher_id BIGINT PRIMARY KEY, publisher_name NVARCHAR(255), publisher_link NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE Author (author_id BIGINT AUTO_INCREMENT PRIMARY KEY, author_name NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE Language (language_id BIGINT AUTO_INCREMENT PRIMARY KEY, language_name NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE Writer (writer_id BIGINT AUTO_INCREMENT PRIMARY KEY, writer_name NVARCHAR(255), writer_link NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE English_Dialoges (english_dialoge_id BIGINT AUTO_INCREMENT PRIMARY KEY, english_dialoge_name NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE Persian_Dialoges (persian_dialoge_id BIGINT AUTO_INCREMENT PRIMARY KEY, persian_dialoge_name NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE Book_Author (book_author_id BIGINT AUTO_INCREMENT PRIMARY KEY, author_id BIGINT, ids_book BIGINT)")

In [ ]:
mycursor.execute("CREATE TABLE Translation (ids_translations BIGINT PRIMARY KEY, translations NVARCHAR(255),link_translations NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE Book_Language (book_language_id BIGINT AUTO_INCREMENT PRIMARY KEY, language_id BIGINT, ids_book BIGINT)")

In [ ]:
mycursor.execute("CREATE TABLE Book_English_Dialoges (book_english_dialoge_id BIGINT AUTO_INCREMENT PRIMARY KEY, english_dialoge_id BIGINT, ids_book BIGINT)")

In [ ]:
mycursor.execute("CREATE TABLE Book_Persian_Dialoges (book_persian_dialoge_id BIGINT AUTO_INCREMENT PRIMARY KEY, persian_dialoge_id BIGINT, ids_book BIGINT)")

In [ ]:
mycursor.execute("CREATE TABLE Book_Writer (book_writer_id BIGINT AUTO_INCREMENT PRIMARY KEY, writer_id BIGINT, ids_book BIGINT)")

In [ ]:
mycursor.execute("CREATE TABLE Book_Copy (book_copy_id BIGINT AUTO_INCREMENT PRIMARY KEY, type_copy_id BIGINT, ids_book BIGINT)")

In [ ]:
mycursor.execute("CREATE TABLE Type_Copy (type_copy_id BIGINT AUTO_INCREMENT PRIMARY KEY, type_copies NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE Book (title_english NVARCHAR(255), title_persian NVARCHAR(255), book_bio NVARCHAR(255),off_percent float, current_price float, rate float, status BIGINT, publisher_id BIGINT, type_copy_id BIGINT, ids_translations BIGINT, shabak NVARCHAR(255), pices NVARCHAR(255), pages BIGINT, sunny_date BIGINT, monthy_date float, types NVARCHAR(255),seriess BIGINT, descriptions NVARCHAR(255), pleasure_text NVARCHAR(255), copies int, book_tag_id BIGINT, book_copy_id BIGINT, reciving_time NVARCHAR(255), ids_book BIGINT PRIMARY KEY,book_author_id BIGINT, book_writer_id BIGINT, book_language_id BIGINT ,book_english_dialoge_id BIGINT, book_persian_dialoge_id BIGINT, type_copies NVARCHAR(255))")

In [ ]:
import sqlalchemy
import mysql

engine = sqlalchemy.create_engine('mysql://root:12345678@localhost:3306/schema_test', echo=False)
connection = engine.connect()
metadata = sqlalchemy.MetaData()

df_test = pd.read_csv('Tags.csv')
df_test.to_sql('tag', engine, if_exists='replace')

In [43]:
df_test = pd.read_csv('Book_Tag.csv')
df_test.to_sql('book_tag', engine, if_exists='replace')

324651

In [44]:
df_test = pd.read_csv('Writer.csv')
df_test.to_sql('writer', engine, if_exists='replace')

17160

In [45]:
df_test = pd.read_csv('Author.csv')
df_test.to_sql('author', engine, if_exists='replace')

1730

In [46]:
df_test = pd.read_csv('Book_languages.csv')
df_test.to_sql('book_languages', engine, if_exists='replace')

49771

In [47]:
df_test = pd.read_csv('Book_Writer.csv')
df_test.to_sql('book_writer', engine, if_exists='replace')

51352

In [48]:
df_test = pd.read_csv('Publiser.csv')
df_test.to_sql('publisher', engine, if_exists='replace')

49771

In [49]:
df_test = pd.read_csv('Translation.csv')
df_test.to_sql('translation', engine, if_exists='replace')

7289

In [58]:
df_test = data_frame
df_test.columns

Index(['title_english', 'title_persian', 'book_bio', 'off_percent',
       'current_price', 'rate', 'status', 'publisher_name', 'publisher_id',
       'writer_name', 'writer_id', 'ids_book', 'ids_translations',
       'translations', 'shabak', 'pices', 'pages', 'sunny_date', 'monthy_date',
       'types', 'seriess', 'reciving_time', 'descriptions', 'book_tags',
       'ids_tags', 'english_dialogs', 'persian_dialogs', 'authors',
       'pleasure_text', 'copies', 'type_copies', 'language'],
      dtype='object')

In [66]:
df_test['book_bio'] = df_test['book_bio'].apply(lambda x: f(x))
df_test['descriptions'] = df_test['descriptions'].apply(lambda x: f(x))
df_test['pleasure_text'] = df_test['pleasure_text'].apply(lambda x: f(x))

df_test = df_test[['title_english', 'title_english', 'book_bio', 'off_percent', 'current_price', 'rate', 'status', 'publisher_id', 'shabak', 'pices', 'pages', 'sunny_date', 'monthy_date', 'types', 'seriess', 'descriptions', 'pleasure_text', 'copies', 'reciving_time', 'writer_id', 'type_copies']]

C:\Users\MostafaRastegar\AppData\Local\Temp\ipykernel_12132\1630543488.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['book_bio'] = df_test['book_bio'].apply(lambda x: f(x))
C:\Users\MostafaRastegar\AppData\Local\Temp\ipykernel_12132\1630543488.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['descriptions'] = df_test['descriptions'].apply(lambda x: f(x))
C:\Users\MostafaRastegar\AppData\Local\Temp\ipykernel_12132\1630543488.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['pleasure_text'] = df_test['pleasure_text'].apply(lambda x: f(x))

In [65]:
df_test = df_test.drop_duplicates()
df_test.describe()
# df_test.to_csv('Books.csv', index=False)

TypeError: unhashable type: 'list'