In [19]:
import mysql.connector
import pymysql
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

In [ ]:

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1051047595Ma",
  database="schema_test"
)
mycursor = mydb.cursor()

In [21]:
data_frame = pd.read_csv('Final_Data.csv', low_memory=False)
data_frame.head()

,title_english,title_persian,book_bio,off_percent,current_price,rate,status,publisher_name,publisher_id,writer_name,...,descriptions,book_tags,ids_tags,english_dialogs,persian_dialogs,authors,pleasure_text,copies,type_copies,language
0,Супруги Орловы,کتاب فروافتادگان,NaN,20.0,67600.0,3.71,1,ارس,2787,['ماکسیم گورکی'],...,NaN,"['ادبیات داستانی', 'ادبیات کلاسیک', 'ادبیات رو...","[103, 134, 152, 207, 356]",[None],[None],[None],[None],NaN,NaN,NaN
1,Darbast Monirie,کتاب دربست منیریه,NaN,20.0,100000.0,3.43,1,دید,4450,['سالومه طهرانی'],...,NaN,"['ادبیات داستانی', 'ادبیات معاصر', 'جدید ترین ...","[103, 105, 207, 265, 356, 437]",[None],[None],[None],[None],NaN,NaN,NaN
2,Scarecrow,کتاب مترسک,NaN,NaN,69000.0,3.82,0,گیوا,2238,['فرزاد عزیزی کدخدایی'],...,جزء به جزء مترسک پیر، از کلاهش گرفته تا کت و ش...,"['ادبیات داستانی', 'داستان کوتاه', 'ادبیات ایر...","[103, 356, 437]",[None],[None],[None],[None],NaN,NaN,NaN
3,Please Join Us,کتاب لطفا به ما بپیوندید,NaN,NaN,280000.0,3.09,0,راه طلایی,2706,['کاترین مک کنزی'],...,لطفا به ما بپیوندید رمانی معمایی و هیجان انگیز...,"['ادبیات کانادا', 'داستان ماجرایی', 'داستان مع...","[19, 21, 24, 103, 105, 182, 801]",[None],[None],[None],[None],NaN,NaN,NaN
4,Shahnamek,کتاب شاهنامک,ویژه کودکان و نوجوانان,20.0,200000.0,3.98,1,پازینه,1534,['یاسر موحدفرد'],...,دخترهای گلم و پسرهای نازنینم شاهنامک میخواد خی...,"['ادبیات اقتباسی', 'ادبیات داستانی', 'ادبیات م...","[20, 103, 105, 114, 207, 265, 437, 539]",[None],[None],[None],[None],NaN,NaN,NaN

In [5]:
from ast import literal_eval

df_test = data_frame

In [6]:
def f(x):
    try:
        return literal_eval(str(x))   
    except Exception as e:
        print(e)
        return []

In [7]:
df_test['book_tags'] = df_test['book_tags'].apply(lambda x: f(x))
df_test['ids_tags'] = df_test['ids_tags'].apply(lambda x: f(x))
df_test = df_test.explode(['book_tags', 'ids_tags'])
df_test = df_test[['book_tags', 'ids_tags']]

In [8]:
df_test = df_test[['book_tags', 'ids_tags']]
df_test = df_test.drop_duplicates('book_tags')
df_test.describe()

             book_tags  ids_tags
count              947       947
unique             947       947
top     ادبیات داستانی       103
freq                 1         1

In [9]:
df_test.to_csv('Tags.csv', index=False , encoding='utf-8-sig')

In [10]:
df_test = data_frame
# df_test['ids_tags'] = df_test['ids_tags'].apply(literal_eval)
df_test = df_test.explode('ids_tags')
df_test = df_test[['ids_book', 'ids_tags']]
df_test = df_test.drop_duplicates()
df_test.head()

   ids_book ids_tags
0    121850      103
0    121850      134
0    121850      152
0    121850      207
0    121850      356

In [11]:
df_test.to_csv('Book_Tag.csv', index=False, encoding='utf-8-sig')

In [22]:
df_test = data_frame

In [23]:
df_test['ids_translations'] = df_test['ids_translations'].apply(literal_eval)
df_test['translations'] = df_test['translations'].apply(literal_eval)
df_test = df_test.explode(['ids_translations', 'translations'])
df_test = df_test[['ids_translations', 'translations']]
df_test = df_test.drop_duplicates()
df_test.describe()

       ids_translations translations
count              5307         7288
unique             5306         7274
top                9787  مریم سلطانی
freq                  2            2

In [24]:
df_test.to_csv('Translation.csv', index=False, encoding='utf-8-sig')

In [25]:
df_test = data_frame

In [26]:
df_test['writer_name'] = df_test['writer_name'].apply(lambda x: f(x))
df_test['writer_id'] = df_test['writer_id'].apply(lambda x: f(x))
df_test = df_test.explode(['writer_id', 'writer_name'])
df_test = df_test[['writer_id', 'writer_name']]
df_test = df_test.drop_duplicates()
df_test.describe()

       writer_id writer_name
count      16447       17159
unique     16447       17104
top         3766  حسین مرادی
freq           1           3

In [27]:
df_test.to_csv('Writer.csv', index=False, encoding='utf-8-sig')

In [28]:
df_test = data_frame

In [29]:
df_test['writer_id'] = df_test['writer_id'].apply(lambda x: f(x))
df_test = df_test.explode('writer_id')
df_test.head()
# df_test = df_test[['ids_book', 'writer_id']]
# df_test.describe()

,title_english,title_persian,book_bio,off_percent,current_price,rate,status,publisher_name,publisher_id,writer_name,...,descriptions,book_tags,ids_tags,english_dialogs,persian_dialogs,authors,pleasure_text,copies,type_copies,language
0,Супруги Орловы,کتاب فروافتادگان,NaN,20.0,67600.0,3.71,1,ارس,2787,[ماکسیم گورکی],...,NaN,"['ادبیات داستانی', 'ادبیات کلاسیک', 'ادبیات رو...","[103, 134, 152, 207, 356]",[None],[None],[None],[None],NaN,NaN,NaN
1,Darbast Monirie,کتاب دربست منیریه,NaN,20.0,100000.0,3.43,1,دید,4450,[سالومه طهرانی],...,NaN,"['ادبیات داستانی', 'ادبیات معاصر', 'جدید ترین ...","[103, 105, 207, 265, 356, 437]",[None],[None],[None],[None],NaN,NaN,NaN
2,Scarecrow,کتاب مترسک,NaN,NaN,69000.0,3.82,0,گیوا,2238,[فرزاد عزیزی کدخدایی],...,جزء به جزء مترسک پیر، از کلاهش گرفته تا کت و ش...,"['ادبیات داستانی', 'داستان کوتاه', 'ادبیات ایر...","[103, 356, 437]",[None],[None],[None],[None],NaN,NaN,NaN
3,Please Join Us,کتاب لطفا به ما بپیوندید,NaN,NaN,280000.0,3.09,0,راه طلایی,2706,[کاترین مک کنزی],...,لطفا به ما بپیوندید رمانی معمایی و هیجان انگیز...,"['ادبیات کانادا', 'داستان ماجرایی', 'داستان مع...","[19, 21, 24, 103, 105, 182, 801]",[None],[None],[None],[None],NaN,NaN,NaN
4,Shahnamek,کتاب شاهنامک,ویژه کودکان و نوجوانان,20.0,200000.0,3.98,1,پازینه,1534,[یاسر موحدفرد],...,دخترهای گلم و پسرهای نازنینم شاهنامک میخواد خی...,"['ادبیات اقتباسی', 'ادبیات داستانی', 'ادبیات م...","[20, 103, 105, 114, 207, 265, 437, 539]",[None],[None],[None],[None],NaN,NaN,NaN

In [30]:
df_test = df_test[['ids_book', 'writer_id']]
df_test

       ids_book writer_id
0        121850      3766
1        121855     70649
2        121857     70650
3        121885     17650
4        121887     28925
...         ...       ...
49766     72916     40252
49767     72919     40256
49768     72923     40262
49769     72877     18991
49770     72878     40219

[51367 rows x 2 columns]

In [31]:
df_test = df_test.drop_duplicates()
df_test.head()

   ids_book writer_id
0    121850      3766
1    121855     70649
2    121857     70650
3    121885     17650
4    121887     28925

In [32]:
df_test.to_csv('Book_Writer.csv', index=False, encoding='utf-8-sig')

In [33]:
df_test = data_frame

In [34]:
df_test = df_test[['language','ids_book']]
df_test.head()

  language  ids_book
0      NaN    121850
1      NaN    121855
2      NaN    121857
3      NaN    121885
4      NaN    121887

In [35]:
df_test.to_csv('Book_languages.csv', index=False, encoding='utf-8-sig')

In [36]:
df_test = data_frame

In [37]:
df_test['authors'] = df_test['authors'].apply(lambda x: f(x))
df_test = df_test.explode('authors')
df_test = df_test['authors']
df_test = df_test.drop_duplicates()
df_test.describe()

count         1729
unique        1729
top       Observer
freq             1
Name: authors, dtype: object

In [38]:
df_test.to_csv('Author.csv', index =False, encoding='utf-8-sig')

In [39]:
df_test = data_frame

In [40]:
df_test = df_test[['publisher_id', 'publisher_name', 'ids_book']]
df_test.head()

   publisher_id publisher_name  ids_book
0          2787            ارس    121850
1          4450            دید    121855
2          2238           گیوا    121857
3          2706      راه طلایی    121885
4          1534         پازینه    121887

In [41]:
df_test.to_csv('Publiser.csv', index=False, encoding='utf-8-sig')

In [32]:
df_test = data_frame

In [33]:
mycursor.execute("CREATE TABLE Tag (ids_tags BIGINT PRIMARY KEY, book_tags NVARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'tag' already exists

In [ ]:
mycursor.execute("CREATE TABLE Book_Tag (book_tag_id BIGINT AUTO_INCREMENT PRIMARY KEY, ids_tags BIGINT, ids_book BIGINT)")

In [ ]:
mycursor.execute("CREATE TABLE Publisher (publisher_id BIGINT PRIMARY KEY, publisher_name NVARCHAR(255), publisher_link NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE Author (author_id BIGINT AUTO_INCREMENT PRIMARY KEY, author_name NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE Language (language_id BIGINT AUTO_INCREMENT PRIMARY KEY, language_name NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE Writer (writer_id BIGINT AUTO_INCREMENT PRIMARY KEY, writer_name NVARCHAR(255), writer_link NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE English_Dialoges (english_dialoge_id BIGINT AUTO_INCREMENT PRIMARY KEY, english_dialoge_name NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE Persian_Dialoges (persian_dialoge_id BIGINT AUTO_INCREMENT PRIMARY KEY, persian_dialoge_name NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE Book_Author (book_author_id BIGINT AUTO_INCREMENT PRIMARY KEY, author_id BIGINT, ids_book BIGINT)")

In [ ]:
mycursor.execute("CREATE TABLE Translation (ids_translations BIGINT PRIMARY KEY, translations NVARCHAR(255),link_translations NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE Book_Language (book_language_id BIGINT AUTO_INCREMENT PRIMARY KEY, language_id BIGINT, ids_book BIGINT)")

In [ ]:
mycursor.execute("CREATE TABLE Book_English_Dialoges (book_english_dialoge_id BIGINT AUTO_INCREMENT PRIMARY KEY, english_dialoge_id BIGINT, ids_book BIGINT)")

In [ ]:
mycursor.execute("CREATE TABLE Book_Persian_Dialoges (book_persian_dialoge_id BIGINT AUTO_INCREMENT PRIMARY KEY, persian_dialoge_id BIGINT, ids_book BIGINT)")

In [ ]:
mycursor.execute("CREATE TABLE Book_Writer (book_writer_id BIGINT AUTO_INCREMENT PRIMARY KEY, writer_id BIGINT, ids_book BIGINT)")

In [ ]:
mycursor.execute("CREATE TABLE Book_Copy (book_copy_id BIGINT AUTO_INCREMENT PRIMARY KEY, type_copy_id BIGINT, ids_book BIGINT)")

In [ ]:
mycursor.execute("CREATE TABLE Type_Copy (type_copy_id BIGINT AUTO_INCREMENT PRIMARY KEY, type_copies NVARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE Book (title_english NVARCHAR(255), title_persian NVARCHAR(255), book_bio NVARCHAR(255),off_percent float, current_price float, rate float, status BIGINT, publisher_id BIGINT, type_copy_id BIGINT, ids_translations BIGINT, shabak NVARCHAR(255), pices NVARCHAR(255), pages BIGINT, sunny_date BIGINT, monthy_date float, types NVARCHAR(255),seriess BIGINT, descriptions NVARCHAR(255), pleasure_text NVARCHAR(255), copies int, book_tag_id BIGINT, book_copy_id BIGINT, reciving_time NVARCHAR(255), ids_book BIGINT PRIMARY KEY,book_author_id BIGINT, book_writer_id BIGINT, book_language_id BIGINT ,book_english_dialoge_id BIGINT, book_persian_dialoge_id BIGINT, type_copies NVARCHAR(255))")

In [35]:
import sqlalchemy
import mysql

engine = sqlalchemy.create_engine('mysql://root:12345678@localhost:3306/schema_test', echo=False)
connection = engine.connect()
metadata = sqlalchemy.MetaData()

df_test = pd.read_csv('Tags.csv')
df_test.to_sql('tag', engine, if_exists='replace')

947

In [ ]:
df_test = pd.read_csv('Book_Tag.csv')
df_test.to_sql('book_tag', engine, if_exists='replace')

324651

In [ ]:
df_test = pd.read_csv('Writer.csv')
df_test.to_sql('writer', engine, if_exists='replace')

17160

In [ ]:
df_test = pd.read_csv('Author.csv')
df_test.to_sql('author', engine, if_exists='replace')

1730

In [ ]:
df_test = pd.read_csv('Book_languages.csv')
df_test.to_sql('book_languages', engine, if_exists='replace')

49771

In [ ]:
df_test = pd.read_csv('Book_Writer.csv')
df_test.to_sql('book_writer', engine, if_exists='replace')

51352

In [ ]:
df_test = pd.read_csv('Publiser.csv')
df_test.to_sql('publisher', engine, if_exists='replace')

49771

In [ ]:
df_test = pd.read_csv('Translation.csv')
df_test.to_sql('translation', engine, if_exists='replace')

7289

In [46]:
df_test = data_frame
df_test.columns

Index(['title_english', 'title_persian', 'book_bio', 'off_percent',
       'current_price', 'rate', 'status', 'publisher_name', 'publisher_id',
       'writer_name', 'writer_id', 'ids_book', 'ids_translations',
       'translations', 'shabak', 'pices', 'pages', 'sunny_date', 'monthy_date',
       'types', 'seriess', 'reciving_time', 'descriptions', 'book_tags',
       'ids_tags', 'english_dialogs', 'persian_dialogs', 'authors',
       'pleasure_text', 'copies', 'type_copies', 'language'],
      dtype='object')

In [43]:
df_test['writer_id'] = df_test['writer_id'].apply(lambda x: f(x))
df_test['pleasure_text'] = df_test['pleasure_text'].apply(lambda x: f(x))
df_test['seriess'] = df_test['seriess'].apply(lambda x: f(x))

df_test = df_test[['title_english', 'title_english', 'book_bio', 'off_percent', 'current_price', 'rate', 'status', 'publisher_id', 'shabak', 'pices', 'pages', 'sunny_date', 'monthy_date', 'types', 'seriess', 'descriptions', 'pleasure_text', 'copies', 'reciving_time', 'writer_id', 'type_copies']]

C:\Users\MostafaRastegar\AppData\Local\Temp\ipykernel_3228\2817724516.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['writer_id'] = df_test['writer_id'].apply(lambda x: f(x))

malformed node or string on line 1: <ast.Name object at 0x000001EC9E03D5A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3C520>
malformed node or string on line 1: <ast.Name object at 0x000001EC93011CC0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C850>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495D360>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3D840>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C4C0>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A58FA0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03C190>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03CA00>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03E350>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3C3A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495C3A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03C400>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3BB0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C3A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5A740>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5A6E0>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5BD60>
malformed node or string on line 1: <ast.Name object at 0x000001EC9456F9D0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495C850>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A59180>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495E0B0>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5A530>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698CCA0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03F4F0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C9D0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495C640>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FFF2E0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03C910>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03C0A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03ED10>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03D630>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03E620>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495DE70>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495D720>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495DF90>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3C670>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03CB80>
malformed node or string on line 1: <ast.Name object at 0x000001EC90FE8430>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A58C40>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495F5B0>
malformed node or string on line 1: <ast.Name object at 0x000001EC948AD390>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3B50>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3D120>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495C0A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5A5C0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C730>
malformed node or string on line 1: <ast.Name object at 0x000001EC9302AA40>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A59F00>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3D360>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3CC40>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3DCF0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03D3F0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03F820>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03D990>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A58FA0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03EE60>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03FEE0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9302AAA0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495F460>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C220>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495CB50>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3D180>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3CF10>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495DF60>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03FD90>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FFEEC0>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3C40>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3D60>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495DD50>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03E080>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5A020>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03E050>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FFF130>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03C790>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03EAD0>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5B490>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5ABF0>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5A8C0>
malformed node or string on line 1: <ast.Name object at 0x000001EC90FEA320>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495C2E0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495DB40>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495E7A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3C8B0>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3C070>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3C220>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03D630>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3B50>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495F6A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495D780>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495C2E0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9302A2F0>
malformed node or string on line 1: <ast.Name object at 0x000001EC93011C60>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5BB50>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5A6E0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495F460>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495EA10>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495F760>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3D270>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3CF10>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A59C00>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495D720>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5A200>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A59D20>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FFEF50>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FFF6A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC93011C60>
malformed node or string on line 1: <ast.Name object at 0x000001EC93011BD0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9302A3E0>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3F70>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3BB0>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3CD0>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3D60>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495D0F0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495FBB0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495F5B0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495C3A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495C250>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495F190>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495C430>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495FE80>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495C880>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495EAD0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C6A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698CC40>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C6D0>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5B760>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A58D60>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495DAB0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495F190>
malformed node or string on line 1: <ast.Name object at 0x000001EC90FE82B0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03C760>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5AA40>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3D90>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C4C0>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5A620>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A59000>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A59090>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495FE80>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A58C40>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5A2C0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03FFA0>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5A200>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3D240>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495D780>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495C0D0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495E0E0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495CFA0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495D6C0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03EB00>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03F190>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698CB20>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03CC70>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03D5A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C130>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495C880>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495F190>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3CD0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9302AA40>
malformed node or string on line 1: <ast.Name object at 0x000001EC93011CC0>
malformed node or string on line 1: <ast.Name object at 0x000001EC93011CF0>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FFEF50>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FFFA00>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FFEF80>
malformed node or string on line 1: <ast.Name object at 0x000001EC90FE8430>
malformed node or string on line 1: <ast.Name object at 0x000001EC931A13C0>
malformed node or string on line 1: <ast.Name object at 0x000001EC931A1000>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5A5C0>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FF8730>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FFEE90>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3BE0>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FFEEC0>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A59180>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C250>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A595D0>
malformed node or string on line 1: <ast.Name object at 0x000001EC931A1000>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C2E0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698CA00>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C4C0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495FE80>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03C370>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495F340>
malformed node or string on line 1: <ast.Name object at 0x000001EC90746A70>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5B760>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495C880>
malformed node or string on line 1: <ast.Name object at 0x000001EC9302AAA0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03CF40>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03F0A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FFEF50>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C400>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495DF60>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3AC0>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FFEEC0>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5ABF0>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A59240>
malformed node or string on line 1: <ast.Name object at 0x000001EC9302A1A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698CC70>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3CC70>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3D060>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3B50>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A58FA0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495CB50>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495C250>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3E20>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495DF60>
malformed node or string on line 1: <ast.Name object at 0x000001EC931A0AC0>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FFFA60>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A59000>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03FFD0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495C3A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FF86A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03CEB0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9302A2F0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03EE60>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3D390>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03D240>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3D90>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FF86A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A59DB0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495DF90>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03FE80>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03D9C0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C4C0>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3D180>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FFFB20>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495DF30>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495CDF0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495E0B0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03E200>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03EB00>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03D030>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03D7B0>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FF86A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FF8640>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A58C40>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03F430>
malformed node or string on line 1: <ast.Name object at 0x000001EC96A5A3E0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9E03F6D0>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FD5BD0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495C850>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3F70>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3C880>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C6A0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495CFA0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495FB20>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495F550>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495DF90>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495E830>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495F010>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C790>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698CB20>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698CAF0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C4F0>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C160>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C340>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698CA60>
malformed node or string on line 1: <ast.Name object at 0x000001EC9456F9D0>
malformed node or string on line 1: <ast.Name object at 0x000001EC91C3C730>
malformed node or string on line 1: <ast.Name object at 0x000001EC9698C700>
malformed node or string on line 1: <ast.Name object at 0x000001EC9495E0E0>
malformed node or string on line 1: <ast.Name object at 0x000001EC92FFEF50>
malformed node or string on line 1: <ast.Name object at 0x000001EC962F3E20>

In [44]:
df_test = df_test.drop_duplicates()
df_test.describe()
# df_test.to_csv('Books.csv', index=False)

TypeError: unhashable type: 'list'

In [45]:
df_test['pleasure_text'] = df_test['pleasure_text'].apply(lambda x: f(x))

In [47]:
df_test = df_test[['title_english', 'title_persian', 'book_bio', 'off_percent',
       'current_price', 'rate', 'status', 'publisher_name', 'publisher_id', 'ids_book', 'shabak', 'pices', 'pages', 'sunny_date', 'monthy_date',
       'types', 'seriess', 'reciving_time', 'descriptions', 'copies', 'type_copies', 'language']]

In [48]:
df_test.to_csv('All_bools.csv', index=False, encoding='utf-8-sig')